:root {
  --c-primary: #A64E5E;
  --c-primary-light: #F5A9A3;
  --c-primary-dark: #861809;
  --c-primary-active: #EF756C;

  --c-webkit-auto: #e8f0fe;
  --c-shadow: #3b524cc4;

  --c-text-base: #1A2321;
  --c-text-title: #721408;
  --c-text-secondary: #2B3B37;
  --c-text-faint: #3b524cc4;

  --c-bg: #F8CBC9;
  --c-bg-dark: #334742;
  --c-bg-light: #FDEEED;
  --c-bg-active: #F5A9A3;
  --c-bg-highlight: #A64E5E;
  --c-bg-offwhite: #ffeef4;

  --c-success: #67C23A;
  --c-info: rgba(0, 26, 255, 0.842);
  --c-warning: #E6A23C;
  --c-error: #ac0000;
  --c-error-active: #cc0000;

  --s-num-width: 3rem;
  --s-num-height: 3rem;

  --c-rainbow: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    )
}

.dark {
  --c-primary: #950E4F;

  --c-text-base: #CCD2E0;
  --c-text-secondary: #E01577;

  --c-bg: #2B3B37;
  --c-bg-active: #0D2E59;

}
